.job_block {
    transition: .4s ease-in-out;
}

.job_block:hover {
    transform: rotate(-30deg);
    transition: .4s ease-in-out;
}

.apply_btn {
    font-family: inherit;
    font-size: 18px;
    background: royalblue !important;
    color: white;
    padding: .55rem 2rem;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 14px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.apply_btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.apply_btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.apply_btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.apply_btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.apply_btn:hover span {
    transform: translateX(5em);
}

.apply_btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}