.navbar {
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    /* Add a transition effect */
    position: fixed;
    z-index: 999;
}

.navbar.scrolled {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.button_navbar {
    /* color: #333333; */
    /* margin-inline: 1rem; */
    cursor: rgb(85, 85, 85)r;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}


.button_navbar:focus,
.button_navbar:hover {
    color: #555555;
}



.button_navbar:focus:after,
.button_navbar:hover:after {
    width: 100%;
    left: 0%;
}

.button_navbar:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #8d8d8d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}